In [1]:
import numpy as np
import pandas as pd
import collections

# Day 7

## part 1

In [2]:
day7_file = open('day7.txt', 'r')
day7_text = day7_file.read()

In [3]:
test_input = """32T3K 765
T55J5 684
KK677 28
KTJJT 220
QQQJA 483"""

In [4]:
value_dict = {}
for i, card in enumerate('2 3 4 5 6 7 8 9 T J Q K A'.split(" ")):
    value_dict[card] = i + 1
    

value_dict

{'2': 1,
 '3': 2,
 '4': 3,
 '5': 4,
 '6': 5,
 '7': 6,
 '8': 7,
 '9': 8,
 'T': 9,
 'J': 10,
 'Q': 11,
 'K': 12,
 'A': 13}

In [5]:
def hand_strength(hand):
    hand_strength = 0
    results = collections.Counter(hand)
    max_value = max(results.values())
    # 5 of a kind
    if max_value == 5:
        hand_strength = 7
    # 4 of a kind
    elif max_value == 4:
        hand_strength = 6
    # full house
    elif max_value == 3 and sorted(results.values())[-2] == 2:
        hand_strength = 5
    # 3 of a kind
    elif max_value == 3 and sorted(results.values())[-2] != 2:
        hand_strength = 4
    # 2 pairs
    elif max_value == 2 and sorted(results.values())[-2] == 2:
        hand_strength = 3
    # 1 pair
    elif max_value == 2 and sorted(results.values())[-2] != 2:
        hand_strength = 2
    # high card
    elif max_value == 1:
        hand_strength = 1      
        
    return hand_strength

In [6]:
def calculate_winnings(text):
    cols = ['hand','bid']
    
    lines = text.split("\n")
    hands = []
    bids = []
    strength = []
    for line in lines:
        hands.append(line.split(" ")[0].strip())
        bids.append(int(line.split(" ")[1].strip()))
        strength.append(hand_strength(line.split(" ")[0].strip()))
    hand_dict = {'hand' : hands, 'bid': bids,'strength' : strength}
    
    hand_df = pd.DataFrame(hand_dict)
    return hand_df

In [7]:
# Function to split string into individual characters and create new columns
def split_characters(row):
    chars = list(row['hand'])
    for i, char in enumerate(chars):
        row[f'card{i+1}'] = value_dict[char]
    return row

In [8]:
df = calculate_winnings(day7_text)
df = df.apply(split_characters,axis=1)

df.sort_values(by=['strength','card1','card2','card3','card4','card5'],ascending=True,inplace=True)
df.reset_index(inplace=True,drop=True)
df['winnings'] = df['bid'] * (df.index + 1)
df

      hand  bid  strength  card1  card2  card3  card4  card5  winnings
0    23579  396         1      1      2      4      6      8       396
1    239T5  832         1      1      2      8      9      4      1664
2    248KA  173         1      1      3      7     12     13       519
3    249TA  423         1      1      3      8      9     13      1692
4    254AJ  785         1      1      4      3     13     10      3925
..     ...  ...       ...    ...    ...    ...    ...    ...       ...
995  AA5AA  241         6     13     13      4     13     13    240036
996  AA7AA  135         6     13     13      6     13     13    134595
997  AA8AA  353         6     13     13      7     13     13    352294
998  AAJAA  842         6     13     13     10     13     13    841158
999  JJJJJ  762         7     10     10     10     10     10    762000

[1000 rows x 9 columns]

In [9]:
df['winnings'].sum()

249748283

## part 2

In [10]:
test_input = """32T3K 765
T55J5 684
KK677 28
KTJJT 220
QQQJA 483"""

In [11]:
value_dict = {}
for i, card in enumerate('J 2 3 4 5 6 7 8 9 T Q K A'.split(" ")):
    value_dict[card] = i + 1
    

value_dict

{'J': 1,
 '2': 2,
 '3': 3,
 '4': 4,
 '5': 5,
 '6': 6,
 '7': 7,
 '8': 8,
 '9': 9,
 'T': 10,
 'Q': 11,
 'K': 12,
 'A': 13}

In [15]:
def hand_strength_with_joker(hand):
    hand_strength = 0
    num_jokers = hand.count("J")
    results = collections.Counter(hand)
    if num_jokers > 0 and num_jokers != 5:
        results.pop("J")
    max_value = max(results.values())
    if num_jokers != 5:
        max_value += num_jokers

    # 5 of a kind
    if max_value == 5:
        hand_strength = 7
    # 4 of a kind
    elif max_value == 4:
        hand_strength = 6
    # full house
    elif max_value == 3 and sorted(results.values())[-2] == 2:
        hand_strength = 5
    # 3 of a kind
    elif max_value == 3 and sorted(results.values())[-2] != 2:
        hand_strength = 4
    # 2 pairs
    elif max_value == 2 and sorted(results.values())[-2] == 2:
        hand_strength = 3
    # 1 pair
    elif max_value == 2 and sorted(results.values())[-2] != 2:
        hand_strength = 2
    # high card
    elif max_value == 1:
        hand_strength = 1     
        
    return hand_strength

In [16]:
def calculate_winnings_with_joker(text):
    cols = ['hand','bid']
    
    lines = text.split("\n")
    hands = []
    bids = []
    strength = []
    for line in lines:
        hands.append(line.split(" ")[0].strip())
        bids.append(int(line.split(" ")[1].strip()))
        strength.append(hand_strength_with_joker(line.split(" ")[0].strip()))
    hand_dict = {'hand' : hands, 'bid': bids,'strength' : strength}
    
    hand_df = pd.DataFrame(hand_dict)
    return hand_df

In [17]:
df = calculate_winnings_with_joker(day7_text)
df = df.apply(split_characters,axis=1)

df.sort_values(by=['strength','card1','card2','card3','card4','card5'],ascending=True,inplace=True)
df.reset_index(inplace=True,drop=True)
df['winnings'] = df['bid'] * (df.index + 1)
df

      hand  bid  strength  card1  card2  card3  card4  card5  winnings
0    23579  396         1      2      3      5      7      9       396
1    239T5  832         1      2      3      9     10      5      1664
2    248KA  173         1      2      4      8     12     13       519
3    249TA  423         1      2      4      9     10     13      1692
4    25648  606         1      2      5      6      4      8      3030
..     ...  ...       ...    ...    ...    ...    ...    ...       ...
995  QQQJJ   68         7     11     11     11      1      1     67728
996  KJJKJ  704         7     12      1      1     12      1    701888
997  KJKJK  132         7     12      1     12      1     12    131736
998  KKKKJ  566         7     12     12     12     12      1    565434
999  AAJAA  842         7     13     13      1     13     13    842000

[1000 rows x 9 columns]

In [18]:
df['winnings'].sum()

248029057